<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%-include ../../public/html/css.html %>

</head>

<body>
    <div >
    <table border="1" class="table table-bordered" style="width: 100%;">
        <tr>
            <th>序号</th>
            <th>用户</th>
            <th>名字</th>
            <th>职位</th>
            <th>部门</th>
            <th>操作</th>
        </tr>
        <% for(i=0;i<data.length;i++){%>
            <tr>
                <td>
                    <%= data[i].id %>
                </td>
                <td>
                    <%= data[i].zhanghao %>
                </td>
                <td>
                    <%= data[i].name %>
                </td>
                <td>
                    <%= data[i].zhiwei %>
                </td>
                <td>
                    <%= data[i].bumen %>
                </td>
                <td>
                    <a class="btn btn-danger" href="#" data-id="<%= data[i].id %>" role="button">删除</a>
                </td>
            </tr>
        <%}%>
    </table>
</div>
</body>

</html>