<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%-include ../../public/html/css.html %>

</head>
<body>
    <table border="1" class="table table-bordered" style="width: 100%;">
        <tr>
            <th>序号</th>
            <th>用户</th>
            <th>ip</th>
            <th>地域</th>
            <th>时间</th>
        </tr>
        <tr>
            <td>1</td>
            <td>wewe</td>
            <td>127.0.0.1</td>
            <td>深圳市</td>
            <td>2018-10-10 15:30:40</td>
        </tr>
    </table>
</body>
</html>