<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台管理</title>
    <%-include ../../public/html/css.html %>
    <style>
        .leftbox li{
            background-color: bisque;
            padding: 5px 0px;
            border-bottom: aqua 1px solid;
            text-align: center

        }
        .leftbox ul{
            padding: 0;
            margin: 0
        }
        .leftbox li:last-child{
            border:0
        }
        iframe{
            margin: 0;
            padding: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    <div>后台管理</div>
    <div class="row" style="padding: 0 10%">
        <div class="col-xs-2 leftbox">
            <ul>
                <li>访问统计</li>
                <li>产品管理</li>
                <li>发布新闻</li>
                <li>留言查看</li>
            </ul>
        </div>
        <div class="col-xs-10">
            <iframe src="/users/home" frameborder="0"></iframe>

        </div>
    </div>
</body>

</html>