<div style="height:60px;background-image:url(/images/1.png);position: fixed;top: 0px;left: 0px;background-color: khaki;width: 100%;">后台管理</div>
<div class="userheader" style="margin-top: 60px">
        <div class="adminmain">
            <div>
                <ul>
                    <li>
                        <img src="/images/a.jpg" alt="" width="50px" height="50px">
                    </li>
                    <li>sdsdsdsd</li>
                </ul>
                <hr>
                <ul class="lmlist">
                        <a href="/users/home">
                            <li>首页</li>
                        </a>
                    <a href="/users/fwtongji">
                        <li>访问统计</li>
                    </a>
                    <a href="/users/cpguanli">
                        <li>产品管理</li>
                    </a>
                    <a href="/users/xinwenguanli">
                        <li>发布新闻</li>
                    </a>
                    <a href="/users/liuyanchakan">
                        <li id="liuyan">留言查看</li>
                    </a>
                    <a href="/users/yuangonglist">
                        <li id="liuyan">员工管理</li>
                    </a>
                </ul>

            </div>
        </div>
    </div>