<!DOCTYPE html>
<html lang="en">

<head>
  <title>s</title>
  <%-include ../public/html/css.html %>
</head>

<body id="body">

        <%-include ./header.html %>
  <!-- 底图开始 start -->
  <div id="ditu">
    <div id="img">
      <div id="img01">
        <img width="100%" height="100%" src="/images/newxitong_14.jpg">
      </div>
      <div id="img02">
        <img width="100%" height="100%" src="/images/newxitong_15.jpg">
      </div>
      <div id="img03">
        <img width="100%" height="100%" src="/images/newxitong_16.jpg">
      </div>
      <div id="img04">
        <img width="100%" height="100%" src="/images/newxitong_17.jpg">
      </div>
    </div>
    <div style="
    height: 80px; line-height: 80px; z-index:100;margin-top:-80px;position: absolute;width: 100%;background-color: cadetblue;opacity: 0.7;font-size: 16px">
      <div class="row" style="color: #fff">
        <div class="col-xs-6">
          <p>坚持奉行不断求效求新精神，力争成为全球卫星通信行业值得信赖的专业服务商</p>
        </div>
        <div class="col-xs-6">
          <div id="yd">
            <span id="yd1">●</span>
            <span id="yd2">●</span>
            <span id="yd3">●</span>
            <span id="yd4">●</span>
          </div>

        </div>
      </div>

    </div>

  </div>
  <!-- 底图结束 end-->
  <!-- 导航 start-->

  <div class="row">
    <div class="col-xs-12 bjcolor">
      <div class="row">
        <div class="col-xs-6">
          <div style="display:flex;align-items:center;height:500px">
            <img src="/images/a.jpg" alt="" width="100%">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="sdasdas">
            <h3>公安卫星通信解决方案</h3>
            <p style="white-space:normal;text-indent:2em;">
              <span style="text-indent:-0.31in;">窄带以语音为主，宽带以数据为主；</span>
            </p>
            <p style="text-indent:2em;">
              <span style="text-indent:-0.31in;">窄带解决命令传达、通信保障,宽带解决大数据信息传输、应急组网；</span>
            </p>
            <p style="text-indent:2em;">
              <span style="text-indent:-0.31in;">宽带和窄带集群系统产品融合形成立体、可靠、实时、直观等指挥调度通信网络。</span>
            </p>
            <h4>典型应用场景：</h4>
            <p class="MsoNormal" style="text-indent:2em;">
              <span>1</span>）高清视频回传：
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span style="text-indent:0cm;"> 在日常应用中以及应对紧急事件时，可以通过通信卫星实时将现场高清图像实时传送到各级指挥中心，工作人员可随时检索回放任一摄像头的监控图像，便于应急事件处理。</span>
            </p>
            <hr/>
            <p class="MsoNormal" style="text-indent:2em;">
              <span>2</span>）基站回传中继链路备份：
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span style="text-indent:21pt;"> 当地面光纤中断时，基站的传输通道切换到宽带卫星链路，保障基站与核心网之间链路通畅，指挥调度终端正常使用，应急救援感知不到光纤链路故障。</span>
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span></span>
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span> </span>
            </p>
            <hr/>
            <p class="MsoNormal" style="text-indent:2em;">
              <span>3</span>） 移动集群基站：
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              卫星通信车到达应急区域，可以快速建立集群网络，集群基站通过车载卫通天线建立的卫星链路与省级指挥中心的核心网连接，公安人员可在移动集群基站网络内进行通话及数据传输，实现应急通信网络的快速、机动部署。
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 bjcolor">
      <div class="row">
        <div class="col-xs-6">
          <div style="display:flex;align-items:center;height:500px">
            <img src="/images/b.jpg" alt="" width="100%" align="middle">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="sdasdas">
            <h3>公安卫星通信解决方案</h3>
            <p style="white-space:normal;text-indent:2em;">
              <span style="text-indent:-0.31in;">窄带以语音为主，宽带以数据为主；</span>
            </p>
            <p style="text-indent:2em;">
              <span style="text-indent:-0.31in;">窄带解决命令传达、通信保障,宽带解决大数据信息传输、应急组网；</span>
            </p>
            <p style="text-indent:2em;">
              <span style="text-indent:-0.31in;">宽带和窄带集群系统产品融合形成立体、可靠、实时、直观等指挥调度通信网络。</span>
            </p>
            <h4>典型应用场景：</h4>
            <p class="MsoNormal" style="text-indent:2em;">
              <span>1</span>）高清视频回传：
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span style="text-indent:0cm;"> 在日常应用中以及应对紧急事件时，可以通过通信卫星实时将现场高清图像实时传送到各级指挥中心，工作人员可随时检索回放任一摄像头的监控图像，便于应急事件处理。</span>
            </p>
            <hr/>
            <p class="MsoNormal" style="text-indent:2em;">
              <span>2</span>）基站回传中继链路备份：
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span style="text-indent:21pt;"> 当地面光纤中断时，基站的传输通道切换到宽带卫星链路，保障基站与核心网之间链路通畅，指挥调度终端正常使用，应急救援感知不到光纤链路故障。</span>
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span></span>
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span> </span>
            </p>
            <hr/>
            <p class="MsoNormal" style="text-indent:2em;">
              <span>3</span>） 移动集群基站：
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              卫星通信车到达应急区域，可以快速建立集群网络，集群基站通过车载卫通天线建立的卫星链路与省级指挥中心的核心网连接，公安人员可在移动集群基站网络内进行通话及数据传输，实现应急通信网络的快速、机动部署。
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 bjcolor">
      <div class="row">
        <div class="col-xs-6">
          <div style="display:flex;align-items:center;height:500px">
            <img src="/images/c.jpg" alt="" width="100%">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="sdasdas">
            <h3>公安卫星通信解决方案</h3>
            <p style="white-space:normal;text-indent:2em;">
              <span style="text-indent:-0.31in;">窄带以语音为主，宽带以数据为主；</span>
            </p>
            <p style="text-indent:2em;">
              <span style="text-indent:-0.31in;">窄带解决命令传达、通信保障,宽带解决大数据信息传输、应急组网；</span>
            </p>
            <p style="text-indent:2em;">
              <span style="text-indent:-0.31in;">宽带和窄带集群系统产品融合形成立体、可靠、实时、直观等指挥调度通信网络。</span>
            </p>
            <h4>典型应用场景：</h4>
            <p class="MsoNormal" style="text-indent:2em;">
              <span>1</span>）高清视频回传：
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span style="text-indent:0cm;"> 在日常应用中以及应对紧急事件时，可以通过通信卫星实时将现场高清图像实时传送到各级指挥中心，工作人员可随时检索回放任一摄像头的监控图像，便于应急事件处理。</span>
            </p>
            <hr/>
            <p class="MsoNormal" style="text-indent:2em;">
              <span>2</span>）基站回传中继链路备份：
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span style="text-indent:21pt;"> 当地面光纤中断时，基站的传输通道切换到宽带卫星链路，保障基站与核心网之间链路通畅，指挥调度终端正常使用，应急救援感知不到光纤链路故障。</span>
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span></span>
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span> </span>
            </p>
            <hr/>
            <p class="MsoNormal" style="text-indent:2em;">
              <span>3</span>） 移动集群基站：
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              卫星通信车到达应急区域，可以快速建立集群网络，集群基站通过车载卫通天线建立的卫星链路与省级指挥中心的核心网连接，公安人员可在移动集群基站网络内进行通话及数据传输，实现应急通信网络的快速、机动部署。
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 bjcolor">
      <div class="row">
        <div class="col-xs-6">
          <div style="display:flex;align-items:center;height:500px">
            <img src="/images/d.jpg" alt="" width="100%">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="sdasdas">
            <h3>公安卫星通信解决方案</h3>
            <p style="white-space:normal;text-indent:2em;">
              <span style="text-indent:-0.31in;">窄带以语音为主，宽带以数据为主；</span>
            </p>
            <p style="text-indent:2em;">
              <span style="text-indent:-0.31in;">窄带解决命令传达、通信保障,宽带解决大数据信息传输、应急组网；</span>
            </p>
            <p style="text-indent:2em;">
              <span style="text-indent:-0.31in;">宽带和窄带集群系统产品融合形成立体、可靠、实时、直观等指挥调度通信网络。</span>
            </p>
            <h4>典型应用场景：</h4>
            <p class="MsoNormal" style="text-indent:2em;">
              <span>1</span>）高清视频回传：
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span style="text-indent:0cm;"> 在日常应用中以及应对紧急事件时，可以通过通信卫星实时将现场高清图像实时传送到各级指挥中心，工作人员可随时检索回放任一摄像头的监控图像，便于应急事件处理。</span>
            </p>
            <hr/>
            <p class="MsoNormal" style="text-indent:2em;">
              <span>2</span>）基站回传中继链路备份：
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span style="text-indent:21pt;"> 当地面光纤中断时，基站的传输通道切换到宽带卫星链路，保障基站与核心网之间链路通畅，指挥调度终端正常使用，应急救援感知不到光纤链路故障。</span>
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span></span>
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span> </span>
            </p>
            <hr/>
            <p class="MsoNormal" style="text-indent:2em;">
              <span>3</span>） 移动集群基站：
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              卫星通信车到达应急区域，可以快速建立集群网络，集群基站通过车载卫通天线建立的卫星链路与省级指挥中心的核心网连接，公安人员可在移动集群基站网络内进行通话及数据传输，实现应急通信网络的快速、机动部署。
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 bjcolor">
      <div class="row">
        <div class="col-xs-6">
          <div style="display:flex;align-items:center;height:500px">
            <img src="/images/f.jpg" alt="" width="100%">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="sdasdas">
            <h3>公安卫星通信解决方案</h3>
            <p style="white-space:normal;text-indent:2em;">
              <span style="text-indent:-0.31in;">窄带以语音为主，宽带以数据为主；</span>
            </p>
            <p style="text-indent:2em;">
              <span style="text-indent:-0.31in;">窄带解决命令传达、通信保障,宽带解决大数据信息传输、应急组网；</span>
            </p>
            <p style="text-indent:2em;">
              <span style="text-indent:-0.31in;">宽带和窄带集群系统产品融合形成立体、可靠、实时、直观等指挥调度通信网络。</span>
            </p>
            <h4>典型应用场景：</h4>
            <p class="MsoNormal" style="text-indent:2em;">
              <span>1</span>）高清视频回传：
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span style="text-indent:0cm;"> 在日常应用中以及应对紧急事件时，可以通过通信卫星实时将现场高清图像实时传送到各级指挥中心，工作人员可随时检索回放任一摄像头的监控图像，便于应急事件处理。</span>
            </p>
            <hr/>
            <p class="MsoNormal" style="text-indent:2em;">
              <span>2</span>）基站回传中继链路备份：
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span style="text-indent:21pt;"> 当地面光纤中断时，基站的传输通道切换到宽带卫星链路，保障基站与核心网之间链路通畅，指挥调度终端正常使用，应急救援感知不到光纤链路故障。</span>
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span></span>
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              <span> </span>
            </p>
            <hr/>
            <p class="MsoNormal" style="text-indent:2em;">
              <span>3</span>） 移动集群基站：
            </p>
            <p class="MsoNormal" style="text-indent:2em;">
              卫星通信车到达应急区域，可以快速建立集群网络，集群基站通过车载卫通天线建立的卫星链路与省级指挥中心的核心网连接，公安人员可在移动集群基站网络内进行通话及数据传输，实现应急通信网络的快速、机动部署。
            </p>
          </div>
        </div>
      </div>
    </div>


  </div>

  <%-include ./foo.html %>

    <!-- 导航  end -->




    <%-include ../public/html/js.html %>
      <script type="text/javascript">
        var i = 1;
        function bjqh() {
          var aaa = setInterval(function () {
            $("#ditu").css("background-image", "url(/images/newxitong_" + i + ".jpg)");
            i = ++i;
            if (i > 4) {
              i = 1;
            }
          }, 3000);
        }
        //bjqh();
        function bjqh1() {
          var aaa = setInterval(function () {
            $("#ditu #img div").hide();
            $('#img0' + i).fadeIn(500);
            $('#yd span').css('color', '#fff');
            $('#yd' + i).css({ 'color': 'green' });
            i = ++i;
            if (i > 4) {
              i = 1;
            }

          }, 3000);
        }
        bjqh1();
        function imgurl() {
          $('#dutu img').attr({ 'src': "" })
        }
        imgurl();
        function getcolor() {
          var x = '#' + Math.round(Math.random() * 1000000);
          return x;
        }
        $('.bjcolor').each(function () {
          $(this).css({ 'background-color': getcolor() })
        })
        // function yidong(x, y) {
        //   $('.' + x).animate({
        //     marginLeft: y + 'px', opacity: 'show'
        //   }, 500);
        // }
        $('.sdasdas').hover(
          function () {
            $(this).animate({
              paddingLeft: '+20px', opacity: 'show'
            }, 500);
          },
          function () {
            $(this).animate({
              paddingLeft: '0px', opacity: 'show'
            }, 500);
          }
        )

      </script>
</body>

</html>