<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>公司简介-同星通信</title>
    <%-include ../public/html/css.html %>
</head>

<body>

    <%-include ./header.html %>
        <div class="main">
            <div class="row">
                <div class="col-xs-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            产品介绍
                        </a>
                        <a href="#" class="list-group-item">动中通卫通天线</a>
                        <a href="#" class="list-group-item">静中通卫通天线 </a>
                        <a href="#" class="list-group-item">船载卫通天线 </a>
                        <a href="#" class="list-group-item">相控阵卫通天线 </a>
                        <a href="#" class="list-group-item">S波段动中通天线</a>
                    </div>
                    <%-include ./lxwm.html %>
                    <%-include ./liuyan.html %>
                </div>
                <div class="col-xs-9">
                    <div style="color:black">
                        <ol class="breadcrumb">
                            <li>
                                <a href="/index">
                                    <span>首页</span>
                                </a>
                            </li>
                            <li>
                                <a href="/cp">
                                    <span>产品介绍</span>
                                </a>
                            </li>
                            <li class="active">
                                <span>船载卫通天线</span>
                            </li>
                        </ol>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <h3>海洋卫星通信解决方案 </h3>
                            <div style="display:flex;align-items:center;">

                                <img src="/images/b.jpg" alt="" width="100%" align="middle">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="sdasdas">

                                <h4>典型应用场景：</h4>
                                <p class="MsoNormal" style="text-indent:2em;">
                                    <span>1</span>）高清视频回传：
                                </p>
                                <p class="MsoNormal" style="text-indent:2em;">
                                    <span style="text-indent:0cm;"> 武警、海警、海监、渔政等公务执法船通过无覆盖盲区、支持宽带音视频通信业务通过卫星通信网络回传，实现全海域、全方位的政府监管、抢险救援及公务执法。</span>
                                </p>
                                <hr/>
                                <p class="MsoNormal" style="text-indent:2em;">
                                    <span>2</span>）支持渔业生产、通信:
                                </p>
                                <p class="MsoNormal" style="text-indent:2em;">
                                    <span style="text-indent:21pt;"> 渔民出海后的日常通信需求，能够解决日常通信、遇险呼救、定位跟踪，保护渔民生命财产安全。</span>
                                </p>
                                <p class="MsoNormal" style="text-indent:2em;">
                                    <span></span>
                                </p>
                                <p class="MsoNormal" style="text-indent:2em;">
                                    <span> </span>
                                </p>
                                <hr/>
                                <p class="MsoNormal" style="text-indent:2em;">
                                    <span>3</span>） 远洋办公:
                                </p>
                                <p class="MsoNormal" style="text-indent:2em;">
                                    远洋运输船在整个航行过程中的企业办公、数据传输、船体状态跟踪、定位导航等船务管理。
                                </p>
                                <hr/>
                                <p class="MsoNormal" style="text-indent:2em;">
                                    <span>4</span>） 邮轮游艇WIFI接入:
                                </p>
                                <p class="MsoNormal" style="text-indent:2em;">
                                    充分利用卫星共享带宽，为乘客提供全程流畅的互联网接入服务，并可建立智能商业WIFI云平台，实现流量统计，定向广告浏览等功能，为开展流量后向服务运营提供数据基础。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%-include ./foo.html %>
</body>

</html>