<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>公司简介-同星通信</title>
    <%-include ../public/html/css.html %>
</head>

<body>

    <%-include ./header.html %>
        <div class="main">
            <div class="row">
                <div class="col-xs-3">
                    <div class="list-group" id="cplist">
                        <a class="list-group-item active">
                            产品介绍
                        </a>
                        <a class="list-group-item" data-dzt="dzt">动中通卫通天线</a>
                        <a class="list-group-item" data-jzt="jzt">静中通卫通天线 </a>
                        <a class="list-group-item" data-cz="cz">船载卫通天线 </a>
                        <a class="list-group-item" data-xkz="xkz">相控阵卫通天线 </a>
                        <a class="list-group-item" data-sbd="sbd">S波段动中通天线</a>
                    </div>
                    <%-include ./lxwm.html %>
                    <%-include ./liuyan.html %>
                </div>
                <div class="col-xs-9 cpbox">

                </div>
            </div>
        </div>
        <%-include ./foo.html %>
</body>
<script>
    $("#cplist a").click(function () {
        alert('sdsd');
        alert($(this).attr('data-dzt'));
        $(".cpbox").load("sdsa.html");
        // if ($(this).attr('data-dzt')!="") {
        //     alert((this).attr('data-dzt'+"sdsadasd"))
        //     $('#cpbox').load('./wt.html');
        // }else if($(this).attr('data-jzt')){
        //     $('#cpbox').load('./jzt.html');
        // }else if($(this).attr('data-cz')) {
        //     $('#cpbox').load('./cz.html');
        // }else if($(this).attr('data-xkz')) {
        //     $('#cpbox').load('./xkz.html');
        // }else if($(this).attr('data-sbd')) {
        //     $('#cpbox').load('./sbd.html');
        // }
    })
</script>

</html>