<div class="foo">
    <div class="row">
        <div class="col-xs-2">
            <div>
                <ul>
                    <li>
                        <h4>新闻中心</h4>
                    </li>
                    <li>公司新闻</li>
                    <li>市场活动</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-2">
            <div>
                <ul>
                    <li>
                        <h4>合作伙伴</h4>
                    </li>
                    <li>战略合作</li>
                    <li>渠道合作</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-2">
            <div>
                <ul>
                    <li>
                        <h4>加入同星</h4>
                    </li>
                    <li>认识同星</li>
                    <li>正在招聘</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-2">
            <div>
                <ul>
                    <li>
                        <h4>支持与服务</h4>
                    </li>
                    <li>通信技术</li>
                    <li>软件升级</li>
                    <li><a href="/login">员工登录</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row col-xs-6">
                <img src="/images/20180423013406.jpg" alt="" width="90%">
            </div>
            <div class="row col-xs-6">
                <img src="/images/20180423013407.jpg" alt="" width="90%">
            </div>
        </div>
    </div>
</div>