<div style="background-image:url(/images/1.png);color: #fff;">
<div style="padding: 0px 10%;">
    <div class="row">
      <div class="col-xs-3">
        <img src="/images/home_02.jpg" alt="..." class="img-rounded" width="100%" height="100px">
      </div>
      <div class="col-xs-9">
        <div style="height: 40px;line-height: 40px;margin-top:30px;font-size: 16px">
          <ul class="nav nav-pills nav-justified" id="css1" style="color: #fff">
            <li role="presentation">
              <a href="/index">网站首页</a>
            </li>
            <li role="presentation">
              <a href="/main">公司简介</a>
            </li>
            <li role="presentation">
              <a href="/news">新闻动态</a>
            </li>
            <li role="presentation">
              <a href="/cp">产品系列</a>
            </li>
            <li role="presentation">
              <a href="/fa">解决方案</a>
            </li>
            <li role="presentation">
              <a href="/lx">联系我们</a>
            </li>
            <li role="presentation">
              <a target="_blank" href="http://www.idtu.cn/">同济大学研究院</a>
            </li>

          </ul>
        </div>
      </div>
    </div>

  </div>
</div>