<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>同星通信-联系我们</title>
    <%-include ../public/html/css.html %>
</head>

<body>
    <%-include ./header.html %>
        <div style="margin: 10% 15%;margin-top:5% ">
            <div class="row">
                <div class="col-xs-7">
                    <%-include ./liuyan.html %>
                </div>
                <div class="col-xs-5">
                    <%-include ./lxwm.html %>
                </div>
            </div>

        </div>

        <%-include ./foo.html %>
</body>

</html>