<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>公司简介-同星通信</title>
    <%-include ../public/html/css.html %>
</head>

<body>

        <%-include ./header.html %>

    <div class="main">

        <div class="row">
            <div class="col-xs-3">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        新闻动态
                    </a>
                    <a href="#" class="list-group-item">企业文化</a>
                    <a href="#" class="list-group-item">研发实力</a>
                    <a href="#" class="list-group-item">公司简介</a>
                    <a href="#" class="list-group-item">领导致辞</a>
                </div>
                <%-include ./lxwm.html %>
                <%-include ./liuyan.html %>
            </div>
            <div class="col-xs-9">
                <div style="color:black">
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">
                                <span>首页</span>
                            </a>
                        </li>
                        <li class="active">
                            <span> 公司简介</span>
                        </li>
                    </ol>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>广东同星通信技术有限公司（“同星通信”或“ToneSat”）是东莞同济大学研究院旗下专注于卫星通信产品开发、制造、销售和完整解决方案服务的科技企业。公司成立于2016年，注册资本1000万，坐落于广东东莞市美丽的松山湖畔。</p>
                        <p>同星通信总部“东莞同济大学研究院”是东莞市人民政府和同济大学联合创办的开放式产学研平台，也是光科学前沿研究、新材料和通信技术领域高端技术研发与产业化基地。2015年被认定为广东省新型研发机构，并获批广东省超材料工程技术研究中心。</p>
                        <p>同星通信公司拥有一支卫星通信行业耕耘多年的核心团队，具备自主知识产权和创新能力，在卫星天线研制、生产，卫星通信系统与地面通信网络集成建设方面积累了丰富经验，对行业发展趋势、用户应用需求有深刻理解。借助于总部强大的基础实力和科研沉淀，公司获得通信技术、相控阵天线、RF集成模块和复合超材料等相关领域的技术注入与支持，综合实力上新台阶，产品拓展能力显著提升。业务层面，公司定位于卫星通信设备制造商和“天地一体”地面无线网络综合集成商，为用户提供先进的卫星通信解决方案、通信集成系统及通信终端产品。</p>
                        <p>同星通信奉行不断求效求新精神，脚踏实地、负重攀越，努力成为全球卫星通信行业值得信赖的专业服务商。</p>
                    </div>
                </div>
                <table class="table table-hover">
                    <tr>
                        <th>标题</th>
                        <th>时间</th>
                    </tr>
                    <tr>
                       <td>sdsdsadsdasdsd</td>
                       <td>2233131</td>
                      </tr>
                      <tr>
                        <td>sdsdsadsdasdsd</td>
                        <td>2233131</td>
                       </tr><tr>
                        <td>sdsdsadsdasdsd</td>
                        <td>2233131</td>
                       </tr><tr>
                        <td>sdsdsadsdasdsd</td>
                        <td>2233131</td>
                       </tr><tr>
                        <td>sdsdsadsdasdsd</td>
                        <td>2233131</td>
                       </tr><tr>
                        <td>sdsdsadsdasdsd</td>
                        <td>2233131</td>
                       </tr><tr>
                        <td>sdsdsadsdasdsd</td>
                        <td>2233131</td>
                       </tr>
                </table>
            </div>
        </div>
    </div>

    <%-include ./foo.html %>
</body>

</html>