<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>公司简介-同星通信</title>
    <%-include ../public/html/css.html %>
</head>

<body>

    <%-include ./header.html %>

        <div class="main">

            <div class="row">
                <div class="col-xs-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            新闻动态
                        </a>
                        <a href="#" class="list-group-item">企业文化</a>
                        <a href="#" class="list-group-item">研发实力</a>
                        <a href="#" class="list-group-item">公司简介</a>
                        <a href="#" class="list-group-item">领导致辞</a>
                    </div>
                    <%-include ./lxwm.html %>
                        <%-include ./liuyan.html %>
                </div>
                <div class="col-xs-9">
                    <div style="color:black">
                        <ol class="breadcrumb">
                            <li>
                                <a href="#">
                                    <span>首页</span>
                                </a>
                            </li>
                            <li class="active">
                                <span> 新闻动态</span>
                            </li>
                        </ol>
                    </div>
                    <table class="table table-hover">
                        <tr>
                            <th></th>
                            <th>标题</th>
                            <th>时间</th>
                        </tr>
                        <% for(i=0;i< data.length;i++){%>
                            <tr>
                                <td style="width: 5%;">
                                    <span class="label label-info">
                                        <%= data[i].biaoqian %>
                                    </span>
                                </td>

                                    <td style="width: 70%;">
                                        <a href="/news/<%= data[i].id %>"> <%= data[i].biaoti %></a>
                                    </td>

                                <td style="width: 25%;">
                                    <%= data[i].time %>
                                </td>

                            </tr>
                            <%}%>
                    </table>
                </div>
            </div>
        </div>

        <%-include ./foo.html %>
</body>

</html>