<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>同星通信-
        <%= data[0].biaoti %>
    </title>
    <%-include ../public/html/css.html %>
</head>

<body>

    <%-include ./header.html %>

        <div class="main">

            <div class="row">
                <div class="col-xs-9">
                    <div style="color:black">
                        <ol class="breadcrumb">
                            <li>
                                <a href="/">
                                    <span>首页</span>
                                </a>
                            </li>
                            <li>
                                <a href="/news">
                                    <span>新闻动态</span>
                                </a>

                            </li>
                            <li>
                                <span><%= data[0].biaoti %></span>
                            </li>

                        </ol>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>
                                <%= data[0].biaoti %>
                            </h3>
                            <br>
                            <p>
                                <%- data[0].neirong %>
                            </p>
                            <div>
                                <hr>
                                <span class="label label-info">
                                    <%= data[0].biaoqian %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">

                    <%-include ./lxwm.html %>
                        <%-include ./liuyan.html %>
                </div>

            </div>
        </div>

        <%-include ./foo.html %>
</body>

</html>