<!DOCTYPE html>
<html lang="zh">

<head>
    <title>软件升级--同星通信</title>
    <%-include ../public/html/css.html %>
</head>

<body>
    <%-include ./header.html %>
    <div style="margin: 15%">
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label text-right">产品</label>
            <div class="col-sm-9">
                <select name="bumen" class="form-control input-sm">
                    <option>C0612</option>
                    <option>C0000</option>
                    <option>C1111</option>
                    <option>C2222</option>
                    <option>C5555</option>
                </select>
            </div>
        </div>
    </div>
    <%-include ./foo.html %>
</body>

</html>