body {
  font-family:微软雅黑;
  font-size: 14px
}
p{
  text-indent:2em
}

a:link {

}

/* 未被访问的链接 */

a:visited {

}

/* 已被访问的链接 */

a:hover {

}

/* 鼠标指针移动到链接上 */

a:active {
  color: red;
}

/* 正在被点击的链接 */

li {
  overflow: hidden;
  transition: inherit;
}
ul{
  margin: 0px;
  padding: 0px
}
.nav-pills li a{
  color: #fff;
}
.nav-pills li a:hover{
  color: black
}

#css1 li a {
  padding: 0px;

}

div {
  overflow: hidden;
}

#ditu {
  z-index: -2;
  overflow: hidden;
}

#ditu,
#ditu #img,
#ditu #img div {
  padding: 0px;
  margin: 0px;

  height: 600px;
  width: 100%;

  /* position: absolute; */
  z-index: -2;
  overflow: hidden;

}

#yd {
  margin-left: 70%;
  color: #fff;
  font-size: 20px;
  z-index: 999;

}

body {
  margin-top: 0px;
  padding-top: 0px;
  padding: 0px;
  margin: 0px;

}

#ce1 {
  color: #fff;
  padding-left: 15%;
  background-image: url(/images/newxitong_5.jpg);
}

#ce2 {
  padding-right: 15%;
  background-image: url(/images/newxitong_7.jpg);
}

.bjcolor {
  padding: 20px 10%;
  color: #ffffff;

}
.bjcolor .row{
  padding:0 10%
}
.foo{
  padding: 20px 10%;
  background-image: url(/images/newxitong_18.jpg);
  color: #B7BCC0

}
.main{
  padding: 10px 10%;
}
#cplist li{
  cursor: pointer;
}
#cplist li:hover{
  color: red;
}

.colorred{
  color:red;
}

#cp-list li>span{
  margin: 20px 0px;
  background-color: chartreuse;
  height: 30px;
}